.barberListContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.158);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#barberListHeading {
    font: 900 3rem "Roboto";
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.637);
    transition: all 0.5s;
    margin: 1rem 0 1rem 0;
    text-align: center;
    text-shadow: 2px 0px 5px #4d1758;
}

.barberListTable {
    background-color: white;
    border: none !important;
}

.barberListTable div {
    font: 300 1rem "Roboto";
    color: rgba(0, 0, 0, 0.678);
    border: none !important;
}

.barberListTable a,
.barberListTable button {
    color: rgba(0, 0, 0, 0.527);
    transition: all 0.5s;
}

.barberListTable a:hover {
    color: tomato;
}

.barberListTable button:hover {
    color: rgb(236, 30, 30);
}

.MuiDataGrid-columnHeaderWrapper {
    background-color: #4d1758;
    padding: 20px 6px;
}

.MuiDataGrid-row:nth-last-of-type(odd),
.MuiDataGrid-row:nth-last-of-type(odd):hover {
    background-color: #df0eef !important;
}

.MuiDataGrid-row:nth-last-of-type(odd) .MuiDataGrid-cell--textLeft,
.MuiDataGrid-row:nth-last-of-type(odd) .MuiDataGrid-cell--textRight {
    color: white !important;
}

.MuiDataGrid-columnHeader div {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .barberListTable div {
        font: 300 4vw "Roboto";
    }
}